<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://www.pngkey.com/png/detail/662-6622445_gt-icon.png" alt=""
                 id="logoImg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gyms">ALL GYMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gyms/new">ADD GYM</a>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <% if(!signedInUser) {%>
                    <a href="/login" class="nav-link">LOGIN</a>
                    <a href="/register" class="nav-link">REGISTER</a>
                    <% }else{ %>
                        <a href="/logout" class="nav-link">LOGOUT</a>
                        <% } %>
            </div>
            <form class="d-flex" action="/gyms/search" method="GET">
                <input name="cityName" class="form-control me-2"  type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>